<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>This is {{ name }}'s Website</title>
    {% endblock %}

</head>
<body>
<div id="main_content" class="blue">
    <h1>Hello! My name is {{ name }}. Welcome to my webpage.</h1>
</div>
<div id="main_content">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. At consectetur lorem donec massa sapien faucibus et molestie. Arcu dictum varius duis at consectetur lorem
    donec massa sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Adipiscing elit
    pellentesque habitant morbi tristique senectus. Neque aliquam vestibulum morbi blandit. Blandit turpis cursus in hac
    habitasse platea dictumst quisque sagittis. Lectus quam id leo in vitae turpis massa sed. Lectus arcu bibendum at
    varius. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Pellentesque elit ullamcorper dignissim
    cras tincidunt. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Eleifend quam adipiscing vitae
    proin sagittis nisl. In nisl nisi scelerisque eu ultrices vitae auctor eu. Lorem mollis aliquam ut porttitor leo a.
    Scelerisque in dictum non consectetur a erat nam at lectus.
    </p>
    <p>
    Eget gravida cum sociis natoque. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. A diam maecenas
    sed enim ut sem viverra. Nisi lacus sed viverra tellus in hac habitasse. Ultricies tristique nulla aliquet enim. Eu
    lobortis elementum nibh tellus molestie nunc. Orci ac auctor augue mauris. Eget gravida cum sociis natoque penatibus
    et magnis dis. Volutpat est velit egestas dui id. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Nibh sed
    pulvinar proin gravida hendrerit lectus. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam.
    Lacus sed turpis tincidunt id aliquet. Fusce ut placerat orci nulla pellentesque dignissim. Tortor id aliquet lectus
    proin nibh nisl condimentum id. Adipiscing at in tellus integer. Condimentum vitae sapien pellentesque habitant
    morbi. Ac felis donec et odio pellentesque. Mattis nunc sed blandit libero volutpat sed cras ornare. Ultrices
    tincidunt arcu non sodales neque.
    </p>
    <p>
    Mattis aliquam faucibus purus in massa tempor nec. Feugiat nisl pretium fusce id velit ut tortor. Eget duis at
    tellus at urna condimentum. Egestas tellus rutrum tellus pellentesque. Eu lobortis elementum nibh tellus molestie.
    Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Lorem sed risus ultricies tristique nulla aliquet
    enim tortor at. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam purus. Vestibulum lectus mauris ultrices
    eros in cursus turpis massa. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi.
    Viverra vitae congue eu consequat ac. Lobortis mattis aliquam faucibus purus. Molestie nunc non blandit massa enim
    nec. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Neque gravida in fermentum et. Faucibus turpis
    in eu mi. Nisl nunc mi ipsum faucibus vitae aliquet. Risus in hendrerit gravida rutrum quisque non tellus orci ac.
    </p>
    <p>
    Aliquet eget sit amet tellus cras adipiscing enim eu. Vel orci porta non pulvinar neque laoreet. Enim lobortis
    scelerisque fermentum dui faucibus in ornare quam viverra. Tristique senectus et netus et malesuada fames ac.
    Viverra tellus in hac habitasse platea. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. Nisl pretium
    fusce id velit ut tortor pretium viverra. Et tortor consequat id porta nibh venenatis cras. Pellentesque habitant
    morbi tristique senectus et netus et. Natoque penatibus et magnis dis parturient montes. Nibh venenatis cras sed
    felis eget velit aliquet sagittis id. Quis hendrerit dolor magna eget est lorem ipsum dolor. Cras tincidunt lobortis
    feugiat vivamus at. Magna eget est lorem ipsum dolor sit. Ullamcorper dignissim cras tincidunt lobortis feugiat.
    </p>
</div>
</body>
</html>
